<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
        metadata-complete="false"
        version="3.1">

    <filter>
        <filter-name>Squiggly</filter-name>
        <filter-class>com.github.bohnman.squiggly.core.web.SquigglyRequestFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Squiggly</filter-name>
        <url-pattern>/issues/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>Issue</servlet-name>
        <servlet-class>com.github.bohnman.squiggly.examples.servlet.web.IssueServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Issue</servlet-name>
        <url-pattern>/issues/*</url-pattern>
    </servlet-mapping>

</web-app>